*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    font-size: 12px;
}

h1{
    text-align: center;
    font-size: 4rem; /*esto se hace conforme a su contenedor padre y el rem es solo sobre la raiz del archivo*/
    opacity: 0.5;
}

.container{
    border: 5px solid black;
    /*width: 1600px;*/
    height: 800px;
    margin: 2rem auto;
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;

}

.box{
    flex: 1;
    height: 200px;
    width: 200px;
    font-size: 4rem;
    border-radius: 6px;
    text-align: center;
}
.uno{
    background-color: chocolate;
}

.dos{
    flex: 2;
    background-color: blueviolet;
}

.tres{
    background-color: darkgreen;
}

.cuatro{
    background-color: darkmagenta;
}

.cinco{
    background-color: darkorange;
}

.seis{
    background-color: darkred;
}
