*{
    margin: 0;
    padding: 0;
}

html{
    display: flex;
    justify-content: center;
}

.contenedor{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

h1{
    text-align: center;
    color: blue;

}

ul{
    list-style: none;
    padding: 10;
    margin: 10;
}

li{
    text-decoration: none;
font-size: 30px;
}

.color_texto{
    background-color: blueviolet;
    color: bisque;
}
